.slideShow {
  &__button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    &.left,
    &.right {
      position: absolute;
      top: 40vh;
      @media (max-width: 500px) {
        display: none;
      }
    }
    &.left {
      left: 1.5rem;
    }
    &.right {
      right: 1.5rem;
    }
    &.up {
		width: 100%;
        margin: var(--spacing2) auto 0 0;
      @media (min-width: 500px) {
        display: none;
      }
    }
  }

  &__images {
    display: flex;
    align-items: center;
    gap: 2rem;
    overflow-x: scroll;
    transition: all 0.5s ease-in-out;
    @media (max-width: 500px) {
      flex-direction: column;
      gap: 1rem;
    }
    &_image {
      width: 100%;
      height: 100%;
      max-height: 400px;
      @media (max-width: 500px) {
        max-height: none;
        width: 100%;
      }
    }
    :nth-child(1) {
      margin-left: 36vw;
      @media (max-width: 500px) {
        margin-left: 0;
      }
    }

    &::-webkit-scrollbar {
      display: block;
      border: 0.5px solid var(--font-color);
      border-radius: 50px;
      height: 7px;
      @media (max-width: 500px) {
        display: none;
      }
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--font-color);
      border-radius: 50px;
      border: 2px solid transparent;
      background-clip: content-box;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 10px;
    }
  }
}
