.nav_desktop {
    z-index: 2;
    display: flex;
    max-width: 100vw;
    justify-content: space-between;
    margin: 16px;
    background-color: #f5f5f7;
    max-height: 82px;
    @media (max-width: 425px) {
        display: none;
    }
    h1,
    a {
        cursor: pointer;
        width: 100%;
        margin: 0;
        font-weight: 300;
        font-size: 1.125rem;
        color: var(--font-color);
        text-decoration: none;
    }
    b {
        font-size: 1.5rem;
        font-weight: 400;
    }
    .menu_button {
        display: flex;
        justify-content: space-between;
        transition: all 300ms ease-in-out;
        max-width: 173px;
        &.active {
            img {
                transform: rotate(180deg);
                transform-origin: center center;
                animation: flipVertical 300ms ease-in-out;
            }
        }
    }

    .topUnderLine {
        border-top: 0.5px solid var(--font-color);
    }

    .nav_desktop_title,
    .menu_button,
    .route_item {
        padding: var(--spacing3) 0;
        border-bottom: 0.5px solid var(--font-color);
    }
    .nav_desktop_title {
        h1 {
            font-size: 1.5rem;
            font-weight: 300;
        }
        b {
            font-weight: 400;
        }
    }

    .nav_desktop_menu {
        display: none;
        max-width: 173px;
        overflow: hidden;
        transition: transform 300ms ease-in-out;
        &.active {
            display: block;
            transform-origin: top center;
            animation: growDown 300ms ease-in-out;
        }
        .route_item,
        .subMenu_projects_item {
            padding-left: 14px;

            &.active {
                a {
                    font-weight: 400;
                    position: relative;
                    &::before {
                        content: "\2022";
                        font-size: 10px;
                    position: absolute;
                    width: 0;
                    color: var(--font-color);
                    background-color: var(--font-color);
                    left: -8px;
                    top: 25%;
                }
                }
            }
        }
        .subMenu_title {
            padding-left: 14px;
        }
        .subMenu_projects {
            display: none;
            margin-left: 26px;
            flex-direction: column;
            transition: transform 300ms ease-in-out;
            :last-child {
                border-bottom: none;
            }
            &.active {
                display: flex;
                animation: growDown 300ms ease-in-out;
                transform-origin: top center;
            }
        }
    }

    @keyframes flipVertical {
        0% {
            transform: rotate(0deg);
        }
        80% {
            transform: rotate(183deg);
        }
        100% {
            transform: rotate(180deg);
        }
    }

    @keyframes growDown {
        0% {
            transform: scaleY(0);
        }
        80% {
            transform: scaleY(1.1);
        }
        100% {
            transform: scaleY(1);
        }
    }
}

.nav_Mobile {
    display: none;
    width: 100%;
    max-width: 100vw;
    flex-direction: column;
    .nav_Mobile_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 16px 16px 0 16px;
        .nav_Mobile_header_title {
            color: var(--font-color);
            font-weight: 400;
            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 0.5px;
                background-color: var(--primary-color);
            }
        }
    }
    .nav_Mobile_header_path {
        color: var(--font-color);
        flex-direction: column;
        margin-left: 16px;
        margin-bottom: 24px;
        h1 {
            display: inline-block;
            font-size: 1.25rem;
            font-weight: 300;
            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 0.5px;
                background-color: var(--primary-color);
            }
        }
    }
    svg {
        cursor: pointer;
    }

    @media (max-width: 425px) {
        display: flex;
    }
}
