.pathName {
    max-width: 60%;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 7px;
    text-decoration-color: var(--font-color);
    &__title {
        font-weight: 300;
        font-size: 1.3rem;
        color: var(--font-color);
    }
    b {
        font-weight: 400;
    }
}