.navDesktop {
  z-index: 2;
  display: flex;
  max-width: 100vw;
  justify-content: space-between;
  max-height: 82px;
  @media (max-width: 500px) {
    display: none;
  }
  span,
  a {
    width: 100%;
    margin: 0;
    font-weight: 300;
    font-size: 1.125rem;
    color: var(--font-color);
    text-decoration: none;
  }
  b {
    font-size: 1.5rem;
    font-weight: 400;
  }

  &__content {
    max-width: 150px;
    width: 100%;
  }
  &__menuButton {
    display: flex;
    justify-content: space-between;
    transition: all 300ms ease-in-out;
    max-width: 173px;
    &.active {
      img {
        transform: rotate(180deg);
        transform-origin: center center;
        animation: flipVertical 300ms ease-in-out;
      }
    }
  }
  .topUnderLine {
    border-top: 0.5px solid var(--font-color);
  }

  &__menuButton,
  &__menu__item,
  &__menu__subMenuTitle {
    padding: var(--spacing3) 0;
    border-bottom: 0.5px solid var(--font-color);
  }

  &__menu {
    background-color: var(--background-color);
    display: none;
    max-width: 173px;
    transition: transform 300ms ease-in-out;
    &.active {
      display: block;
      transform-origin: top center;
      animation: growDown 300ms ease-in-out;
    }
    &__icon {
      width: 24px;
      height: 24px;
      color: var(--font-color);
    }
    &__item {
      padding-left: 14px;
      cursor: pointer;
      &:hover {
        font-weight: 400;
      }
      &.active {
        a {
          font-weight: 400;
          position: relative;
          &::before {
            content: "\2022";
            font-size: 10px;
            position: absolute;
            width: 0;
            color: var(--font-color);
            background-color: var(--font-color);
            left: -8px;
            top: 25%;
          }
        }
      }
    }
    &__subMenuTitle {
      padding-left: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__subMenuProjects {
      display: none;
      margin-left: 26px;
      flex-direction: column;
      transition: transform 300ms ease-in-out;
      :last-child {
        border-bottom: none;
      }
      &.active {
        display: flex;
        animation: growDown 300ms ease-in-out;
        transform-origin: top center;
      }
    }
  }
}

@keyframes flipVertical {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(183deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
