.aboutMePageWeb {
    display: flex;
    margin: 0 26.7%;
    padding: var(--spacing1);
    width: 100%;
    height: 100%;
    max-height: 296px;
    max-width: 760px;
    justify-content: center;
    align-items: center;
    background-color: var(--card-color);
    border-radius: 8px;
    box-shadow: 0px 2px 20px 0px rgba(0, 38, 72, 0.25);
    @media (max-width: 425px) {
        display: none;
    }

    .avatar {
        border-radius: 50%;
        max-width: 114px;
        max-height: 114px;
        margin-right: var(--spacing1);
        align-self: flex-start;
    }

    .aboutMePage_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        max-height: 248px;
    }

    .aboutMePage_text {
        color: var(--font-color);
        font-size: 1.25rem;
        :not(:last-child) {
            margin-bottom: var(--spacing2);
        }
        b {
            font-weight: 400;
        }
        p {
            font-weight: 300;
            margin: 0;
            font-size: 1rem;
        }
        a {
            color: var(--link-colors);
            text-decoration: none;
        }
        .aboutMePage_title {
            font-size: 1.25rem;
        }
    }

    .socialLinks {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-top: var(--spacing3);
        :nth-child(2) {
            margin: 0 24px;
        }
    }
}

.aboutMePageMobile {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 20px 0px rgba(0, 38, 72, 0.25);
    flex-direction: column;
    margin: 0 var(--spacing2);
    padding: var(--spacing1);
    width: 100%;
    height: 100%;
    max-height: 503px;
    max-width: 328px;
    @media (min-width: 425px) {
        display: none;
    }

    .aboutMePage_header {
        display: flex;
        align-items: center;
        margin-bottom: var(--spacing1);
        .aboutMePage_title {
            color: var(--font-color);
            font-size: 1.25rem;
            margin-left: var(--spacing1);
            font-weight: 300;
            b {
                font-weight: 400;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    width: 100%;
                    height: 0.5px;
                    background-color: var(--font-color);
                }
            }
        }
        .avatar {
            border-radius: 50%;
            max-width: 96px;
            max-height: 96px;
        }
    }

    .aboutMePage_content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        .aboutMePage_text {
            color: var(--font-color);
            font-size: 1rem;
            :not(:last-child) {
                margin-bottom: var(--spacing2);
            }
            b {
                font-weight: 400;
            }
            p {
                font-weight: 300;
                margin: 0;
                font-size: 1rem;
            }
            a {
                color: var(--link-colors);
                text-decoration: none;
            }
            .aboutMePage_header {
                font-size: 1.25rem;
            }
        }

        .socialLinks {
            align-self: center;
            width: 100%;
            max-width: 136px;
            max-height: 24px;
            :nth-child(2) {
                margin: 0 24px;
            }
        }
    }
}
