.aboutMePage {
  display: flex;
  gap: var(--spacing2);
  padding: var(--spacing1);
  background-color: var(--card-color);
  border-radius: 0.5em;
  box-shadow: 0px 2px 20px 0px rgba(0, 38, 72, 0.25);
  max-width: 760px;
  max-height: 296px;
  width: 100%;
  height: 100%;
  @media (max-width: 500px) {
    min-height: 75vh;
    max-width: none;
    max-height: none;
    flex-direction: column;
  }
}

.aboutMePage {
  &__avatar {
    display: inline-flex;
    border-radius: 50%;
    max-width: 114px;
    max-height: 114px;
    margin-right: var(--spacing1);
    align-self: flex-start;
    @media (max-width: 500px) {
      display: none;
    }
  }
  &__content {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    max-height: 248px;
    @media (max-width: 500px) {
      justify-content: space-between;
      max-height: none;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    gap: var(--spacing1);
    &__avatar {
      border-radius: 50%;
      max-width: 114px;
      max-height: 114px;
      @media (min-width: 500px) {
        display: none;
      }
    }
  }
  &__title {
    margin: 0;
    font-weight: 300;
    color: var(--font-color);
    position: relative;
    width: fit-content;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--font-color);
    }
    &__name {
      font-weight: 500;
    }
  }

  &__text {
    color: var(--font-color);
    font-size: 1.25rem;
    :not(:last-child) {
      margin-bottom: var(--spacing2);
    }
    b {
      font-weight: 400;
    }
    &__paragraph {
      font-weight: 300;
      margin: 0;
      font-size: 1rem;
    }
    a {
      color: var(--link-colors);
      text-decoration: none;
    }
    &__title {
      font-size: 1.25rem;
    }
  }

  &__socialLinks {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: var(--spacing3);
    :nth-child(2) {
      margin: 0 24px;
    }
    @media (max-width: 500px) {
      justify-content: center;
      justify-self: flex-end;
    }
    &__item {
      width: 24px;
      height: 24px;
    }
  }
}
