.contactPage {
    background-color: var(--card-color);
    display: flex;
    gap: var(--spacing1);
    padding: var(--spacing1);
    color: var(--font-color);
    border-radius: 8px;
    box-shadow: 0px 2px 20px 0px rgba(0, 38, 72, 0.25);
    @media (max-width: 650px) {
        flex-direction: column;
        width: 98%;
        min-height: 80vh;
    }
    
    &__avatar {
        border-radius: 50%;
        max-width: 114px;
        max-height: 114px;
        aspect-ratio: 1/1;
        @media (max-width: 650px) {
            display: none;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing1);
    }

    &__header {
        display: flex;
        align-items: center;
        gap: var(--spacing2);
        &__avatar {
            border-radius: 50%;
            max-width: 114px;
            max-height: 114px;
            @media (min-width: 650px) {
                display: none;
            }
        }
        &__title {
            font-size: 1.25rem;
            font-weight: 300;
            margin: 0;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                bottom: -10px;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: var(--font-color);
            }
        }
    }

    &__contactInfo {
        display: flex;
        flex-direction: column;
        gap: var(--spacing2);
        &__item {
            display: flex;
            align-items: center;
            gap: var(--spacing2);
            &__icon {
                width: 24px;
                height: 24px;
            }
            p {
                font-size: 1rem;
                font-weight: 300;
                margin: 0;
            }
        }
    }

    &__social {
        display: flex;
        gap: var(--spacing2);
        @media (max-width: 650px) {
            flex-direction: column;
            align-items: flex-start;
        }
        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--spacing2);
            color: var(--link-colors);
            svg {
                width: 24px;
                height: 24px;
            }
            span {
                font-size: 1rem;
                font-weight: 400;
                margin: 0;
            }
        }
    }

}