
.themeSwitch {
    display: flex;
    &__icon {
        width: 20px;
        height: 20px;
        color: var(--primary-color);
    }
    &__switch {
        margin: 0 0.5rem;
        position: relative;
        display: inline-block;
        width: 41px;
        height: 22px;
        border-radius: 2em;
        background-color: transparent;
        border: 1px solid var(--primary-color);
        &__toggle {
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%;
            z-index: 5;
            cursor: pointer;
        }
        &__slider {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            -webkit-transition: .4s;
            transition: .4s;
            // Round Dial
            &:before {
                position: absolute;
                content: "";
                height: 16px;
                width: 16px;
                left: 3px;
                top: 11%;
                border-radius: 50%;
                background-color: var(--font-color);
                -webkit-transition: .4s;
                transition: .4s;
            }
        }
        &__toggle:checked + &__slider:before {
            -webkit-transform: translateX(17px);
            -ms-transform: translateX(17px);
            transform: translateX(17px);
        }
    }
}