@import "./variables.scss";

body {
    overflow-x: hidden;
}

.layout {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: var(--background-color);
    font-family: var(--default-font);
    overflow: visible;
    @media (max-width: 425px) {
        align-items: flex-start;
        overflow: hidden;
        width: 100vw;
    }
    &.darkMode {
        background: var(--background-color);
        color: var(--primary-color);
        .nav_desktop,
        .nav_Mobile,
        .overlay-content {
            background: var(--background-color);
            color: var(--primary-color);
            .overlay-content__subMenu_item:first-child {
                border-color: var(--primary-color);
            }
            * {
                color: var(--primary-color) !important;
                border-color: var(--primary-color);
                &::before {
                    background-color: var(--primary-color) !important;
                    color: var(--primary-color) !important;
                }
                &::after {
                    background-color: var(--primary-color) !important;
                    color: var(--primary-color) !important;
                }
            }
        }
        .page {
            #socialLink {
                color: var(--link-colors) !important;
            }
            background: var(--card-color);
            color: var(--primary-color);
            * {
                color: var(--primary-color);
            }
        }
        .homePage {
            h1 {
                color: var(--primary-color);
            }
        }
        .imageSlideShow {
            &::-webkit-scrollbar {
                border-color: var(--primary-color);
            }
            &::-webkit-scrollbar-thumb {
                background-color: var(--primary-color);
            }
        }
    }
    .currentPage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
}
