@use "./variables.scss" as *;

* {
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

body {
    overflow-x: hidden;
}

.layout {
    padding: var(--spacing2);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: var(--background-color);
    font-family: var(--default-font);
    overflow: visible;
    @media (max-width: 425px) {
        align-items: flex-start;
        overflow: hidden;
        width: 100vw;
    }

    .pagesContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 0.5em;
        overflow: auto;
    }
}
