@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
// Light Theme colors
$light-primary-color: #004c93;
$light-card-color: #ffffff;
$light-background-color: #f5f5f7;


// Dark Theme colors

$dark-primary-color: #E6EBF0;
$dark-card-color: #023869;
$dark-background-color: #002547;

// Font
$default-font: "Lato", sans-serif;
$font-color: #004c93;

//spacing

$spacing1: 24px;
$spacing2: 16px;
$spacing3: 4px;

//breakpoints
$large-desktop-breakpoint: 1920px;
$small-desktop-breakpoint: 1366px;
$tablet-breakpoint: 1024px;
$mobile-breakpoint: 425px;

$link-colors: #00baa4;