.header {
    min-width: 150px;
    z-index: 10;
    width: 100%;
    &__firstRow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 100vw;
    }
}