@import './variables.scss';

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $light-background-color;
    font-family: $default-font;
    overflow: hidden;
    @media (max-width: $mobile-breakpoint) {
        align-items: flex-start;
        overflow: auto;
        width: 100%;
    }
}