@import "./variables.scss";

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: $light-background-color;
    font-family: $default-font;
    overflow: visible;
    @media (max-width: $mobile-breakpoint) {
        align-items: flex-start;
        overflow: hidden;
        width: 100vw;
    }
    &.darkMode {
        background: $dark-background-color;
        color: $dark-primary-color;
        .nav_desktop,
        .nav_Mobile,
        .overlay-content {
            background: $dark-background-color;
            color: $dark-primary-color;
            * {
                color: $dark-primary-color !important;
                border-color: $dark-primary-color;
                &::before {
                    background-color: $dark-primary-color !important;
                    color: $dark-primary-color !important;
                }
                &::after {
                    background-color: $dark-primary-color !important;
                    color: $dark-primary-color !important;
                }
            }
        }
        .page {
            #socialLink {
                color: $link-colors !important;
            }
            background: $dark-card-color;
            color: $dark-primary-color;
            * {
                color: $dark-primary-color;
            }
        }
        .homePage {
            h1 {
                color: $dark-primary-color;
            }
        }
        .imageSlideShow {
            &::-webkit-scrollbar {
                border-color: $dark-primary-color;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $dark-primary-color;
            }
        }
    }
    .currentPage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: visible;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
}
